extends ../layout

block content
    
    .page-container
        h1= title 

        if(errors)
            .error-container
                h2 Ooops!
                ul.error 
                each error in errors 
                    li 
                        =error.message

        .input-container

            form(action="/books", method="post")
                .input-row 
                    .input-left-column 
                        label(for='title') Title
                    .input-right-column 
                        input#title(name='title' type='text' value= book ? book.title: '')
                .input-row 
                    .input-left-column 
                        label(for='author') Author
                    .input-right-column 
                        input#author(name='author' type='text' value= book ? book.author: '')
                .input-row 
                    .input-left-column 
                        label(for='genre') Genre
                    .input-right-column 
                        input#genre(name='genre' type='text' value= book ? book.genre: '')
                .input-row 
                    .input-left-column 
                        label(for='year') Year
                    .input-right-column 
                        input#year(name='year' type='text' value= book ? book.year: '')
                .input-row 
                    .input-left-column 
                    .input-right-column
                        input.input-submit(type='submit' value='Create New Book')
                .input-row 
                    .input-left-column 
                    .input-right-column
                        a.button(href='/books/') Cancel